<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenid@ {{ nombre }}</ion-card-subtitle>
      <ion-card-title>Generar QR clase</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p> 
        Eliga su Asignatura.
        <ion-list>
          <ion-item>
            <ion-select interface="popover" placeholder="Presione para elegir" (ionChange)="handleChange($event)">
              <ion-select-option value="1">Calidad de Software</ion-select-option>
              <ion-select-option value="2">Programacion de App Moviles</ion-select-option>
              <ion-select-option value="3">Etica Laboral</ion-select-option>
              <ion-select-option value="4">Estadistica</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <qrcode *ngIf="qrVisible" [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'" elementType="png"></qrcode>

  
        <ion-button (click)="generarQR()">
          Generar QR
        </ion-button>
      </p>
    
    </ion-card-content>
  </ion-card>

</ion-content>
