<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenid@ {{ nombre }}</ion-card-subtitle>
      <ion-card-title>Generar QR clase</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p> 
        Eliga su Asignatura.
      </p>
        <ion-list>
          <ion-item>
            <ion-select interface="popover" placeholder="Presione para elegir" (ionChange)="updateRamo($event)">
              <ion-select-option value="0001d">0001d | Calidad de Software</ion-select-option>
              <ion-select-option value="0002d">0002d | Programacion de App Moviles</ion-select-option>
              <ion-select-option value="0003d">0003d | Etica Laboral</ion-select-option>
              <ion-select-option value="0004d">0004d | Estadistica</ion-select-option>
            </ion-select>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" (ionChange)="updateFecha($event)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
        <ion-button (click)="generarQR()">
          Generar QR
        </ion-button>
        <div class="qrcodeImage">
          <qrcode *ngIf="qrVisible" [qrdata]="qrData" [width]="256" [cssClass]="'center'" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
  

      
    
    </ion-card-content>
  </ion-card>

</ion-content>
